
<h1><%= @actor[0]["actor"] %></h1>


<ul>
	<% @actor.each do |info| %>
	<label>Movie:</label>
	<li><a href="/movies/<%=info["movie_id"]%>"><%= info["movie"] %></a></li>
	<label>Role:</label>
	<li><%= info["role"] %></li>
	<br></br>
	<% end %>
	<br></br>
</ul>