<h1><%= @actor[0]["actor"] %> Filmography</h1>

<table>
	<tbody>
		<tr>
			<th>Film </th>
			<th>Role </th>
		</tr>
		<tr>
			<% @actor.each do |info| %>
			<td><a href="/actors/<%= info["movie_id"] %>"><%= info["movie"]%></a></td>
			<td><%= info["role"] %></td>
		</tr>
		<% end %>
	</tbody>
</table>